@font-face {
  font-family: "Blueprint";
  src: url("./../fonts/blueprint.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: "Wotfard";
  src: url("./../fonts/wotfard-semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  ascent-override: 100%;
  descent-override: 25%;
  font-display: swap;
}
@font-face {
  font-family: "Wotfard";
  src: url("./../fonts/wotfard-medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  ascent-override: 100%;
  descent-override: 25%;
  font-display: swap;
}
@font-face {
  font-family: "Wotfard";
  src: url("./../fonts/wotfard-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  ascent-override: 100%;
  descent-override: 25%;
  font-display: swap;
}

* {
  --max-screen-size: var(--screen-max, 1200);
  --min-screen-size: var(--screen-min, 375);
  --responsive: (
    (var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) *
      (
        (100vw - (var(--min-screen-size) * 1px)) /
          (var(--max-screen-size) - var(--min-screen-size))
      )
  );
  box-sizing: border-box;
  position: relative;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  inline-size: 100%;
  margin: 0;
  padding: 0;
  color: #212529;
  /* background: hsl(240 50% 96%); */
  display: grid;
  grid: auto / minmax(1rem, 1fr) minmax(auto, min(100%, 1200px)) minmax(
      1rem,
      1fr
    );
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2418%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient2419)'%3e%3c/rect%3e%3cpath d='M1440 0L1424.96 0L1440 271.4z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1424.96 0L1440 271.4L1440 374.90999999999997L1143.8200000000002 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1143.82 0L1440 374.90999999999997L1440 463.26L1101.3 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1101.3 0L1440 463.26L1440 525.38L956.29 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L295.09 560L0 525.72z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 525.72L295.09 560L341.12 560L0 279.02000000000004z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 279.02L341.12 560L967.6 560L0 196.42999999999998z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 196.42999999999995L967.6 560L1115.04 560L0 114.16999999999994z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2418'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2419'%3e%3cstop stop-color='rgba(44%2c 32%2c 59%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(44%2c 32%2c 59%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e")
    50% / cover no-repeat fixed;
}

.overflow-hidden {
  overflow: hidden;
}

:is(img, video) {
  max-inline-size: 100%;
  block-size: auto;
  transform-origin: top left;
  border-radius: 16px;
  background: hsl(232deg 17% 9%);
  background: #5000ca;
  background: linear-gradient(to right, hsl(264deg 100% 10%), #5000ca);
  box-shadow: 0 12px 28px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 10%);
}

:is(h1, h2) {
  line-height: 1.25;
}

h2 {
  color: hsl(324 96% 85%);
  text-decoration: #fb28a8 underline 2px;
  text-underline-offset: 0.35rem;
  text-shadow: 0 0 20px hsl(324 96% 57% / 80%);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.033em hsl(324 96% 85%);
  text-transform: uppercase;
  font-size: 2.5rem;
  hyphens: auto;
  font-family: "Wotfard";
  font-weight: 500;
  --min-font: 22;
  --max-font: 36;
  --screen-max: 1200;
  --screen-min: 375;
  font-size: clamp(
    var(--min-font) * 1px,
    var(--responsive),
    var(--max-font) * 1px
  );
}

h3 {
  font-family: "Wotfard";
  font-weight: 400;
  line-height: 1;
}

p {
  font-family: "Wotfard";
  font-weight: 300;
  font-size: 18px;
  --min-font: 16;
  --max-font: 18;
  --screen-max: 1200;
  --screen-min: 375;
  font-size: clamp(
    var(--min-font) * 1px,
    var(--responsive),
    var(--max-font) * 1px
  );
}

a:any-link {
  color: #463866;
}

.main-header,
footer {
  grid-column: 1 / -1;
  display: grid;
  grid: auto / minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
  gap: 3rem 0;
  text-align: center;
  margin-block: 3rem;
}

.main-header h1 {
  padding-inline: 1rem;
  border-radius: 8px;
  font-family: "Blueprint", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -9.5px;
  text-transform: uppercase;
  font-size: 4rem;
  --min-font: 40;
  --max-font: 64;
  font-size: clamp(
    var(--min-font) * 1px,
    var(--responsive),
    var(--max-font) * 1px
  );
  justify-self: center;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.stroke-text {
  --c: #72f1b8;
  color: var(--c, #72f1b8);
  /* text-decoration: underline var(--c) 4px;
  text-underline-offset: 4px; */
}

.span-grid {
  display: inline-grid;
  line-height: 0.75;
}

.span-grid b:nth-of-type(1) {
  grid-row: 1;
  margin-block-start: 0.05rem;
}
.span-grid b:is(:nth-of-type(1), :nth-of-type(2)) {
  font-size: 0.45em;
  letter-spacing: 0;
}
.span-grid b:nth-of-type(2) {
  text-decoration: underline currentColor 4px;
  text-underline-offset: 4px;
}
.span-grid b:nth-of-type(3) {
  grid-row: 1 / span 2;
  margin-inline-start: -0.3rem;
}

/*h1:hover span.stroke-text {*/
.toggled {
  --c: #fb28a8;
  max-width: 1.05ch;
}

:is(.main-header, footer) > * {
  grid-column: 2 / -2;
  color: #fb28a8;
  font-weight: 700;
}

.hints {
  position: relative;
  padding: 0.25rem 0.75rem 0.75rem;
  padding-inline-start: 1.25rem;
  border-radius: 6px;
  /* border: 2px solid hsl(153 30% 80%); */
  display: inline-grid;
  align-self: flex-start;
  font-family: "Wotfard";
  font-weight: 300;
  font-size: 1rem;
  z-index: 0;
}

.hints::before {
  content: "Hints";
  margin-block: -0.7rem 0;
  /* background: #efebf9; */
  padding-inline: 0.25rem;
  margin-inline-start: -0.25rem;
  justify-self: start;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: hsl(153 20% 40%);
}

.hints::after {
  content: "";
  border-radius: inherit;
  border: 2px solid hsl(153 30% 80%);
  position: absolute;
  inset: 0;
  z-index: -1;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    100% 100%,
    100% 0,
    3.6rem 0,
    3.6rem 3px,
    1rem 3px,
    1rem 0
  );
}

.hints li::marker {
  content: "•\00a0";
  color: var(--m, currentColor);
}

[data-prop] {
  --m: hsl(153 70% 50%);
}

[data-unit] {
  --m: rgb(249, 42, 173);
}

#app {
  grid-column: 2 / -2;
  /* margin-block-start: clamp(2rem, 6vw, 6rem); */
  display: grid;
  gap: 4rem 1rem;
}

section {
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
  border: 2px dashed #fb28a8;
  padding: 2rem;
  border-radius: 8px;
}

section header {
  flex: 0 1 250px;
  align-self: flex-start;
  position: sticky;
  inset-block-start: 0;
  font-size: 1.25rem;
}

section ol {
  flex: 1 0 60%;
}

.gallery {
  align-items: start;
  /* display: flex; */
  flex-flow: wrap;
  /* justify-content: flex-end; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  gap: 2rem;
}

.gallery li {
  position: relative;
  flex: 0 1 250px;
  display: list-item;
}

[class^="gallery-"] {
  will-change: transform;
  block-size: 0;
  display: grid;
  inline-size: 100%;
  padding-top: 80%;
}

[class^="gallery-"]:not(.detail > *) :is(img, video) {
  /* max-block-size: 200px; */
  overflow: hidden;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: top center;
  position: absolute;
  inset: 0;
  cursor: zoom-in;
}

figcaption {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff; */
  display: none;
  /* align-self: start; */
  color: #2a2139;
  background: linear-gradient(#fff, #fff) padding-box,
    repeating-linear-gradient(-45deg, #5000ca3e 0 2px, transparent 0 8px)
      border-box,
    repeating-linear-gradient(45deg, #fb28a83e 0 2px, transparent 0 8px)
      border-box,
    #fff;
  background: linear-gradient(hsl(266, 20%, 88%), hsl(266, 20%, 88%))
      padding-box padding-box,
    repeating-conic-gradient(
        from -45deg,
        rgb(80, 0, 202) 0deg 0.25turn,
        rgb(251, 40, 168) 0deg 0.5turn
      )
      1rem 0rem / 2rem 2rem round border-box border-box;
  background: hsl(258 50% 95%);
  background-image: linear-gradient(
      6deg,
      rgba(0, 0, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.02) 39%,
      transparent 39%,
      transparent 74%,
      rgba(117, 117, 117, 0.02) 74%,
      rgba(117, 117, 117, 0.02) 100%
    ),
    linear-gradient(
      129deg,
      rgba(222, 222, 222, 0.02) 0%,
      rgba(222, 222, 222, 0.02) 65%,
      transparent 65%,
      transparent 73%,
      rgba(83, 83, 83, 0.02) 73%,
      rgba(83, 83, 83, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  padding: 3rem 1.5rem 1.5rem;
  border: 0 solid #5000ca;
  border-block-start-width: 1rem;
  border-image: linear-gradient(to right, #5000ca, #72f1b8) 1;
  text-align: start;
  transition: opacity 0.4s linear;
  opacity: 0;
  /* border-radius: 16px; */
  box-shadow: 0 5px 2.5px hsl(200 95% 3% / 0.037),
    0 12px 6.5px hsl(200 95% 3% / 0.053), 0 22.5px 13px hsl(200 95% 3% / 0.065),
    0 40.2px 24px hsl(200 95% 3% / 0.077), 0 75.2px 44px hsl(200 95% 3% / 0.093),
    0 180px 80px hsl(200 95% 3% / 0.13);
  transform: translate3d(100%, 0, 0);
  overflow-y: auto;
}

figcaption > :is(p, h3, h4, ul) + * {
  margin-block-start: 1rem;
}

figcaption > :nth-last-child(2) {
  margin-block-end: auto;
}

figcaption h3::after {
  content: "";
  block-size: 3px;
  inline-size: 0.9ch;
  background: #5000ca;
  display: block;
}

figcaption section {
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

figcaption .buttons {
  display: flex;
  flex-flow: wrap;
  gap: 0.5rem;
}

.buttons :is(button, a:any-link) {
  padding: 0.25rem 0.75rem;
  border: 0;
  background: conic-gradient(from 0.5turn at center left, lime, cyan);
  font-weight: 400;
  font-family: Wotfard;
  text-decoration: none;
  color: #2a2139;
  border-radius: 0.15em 0.3em 0.3em 0.15em;
  border-inline-start: 3px solid #5000ca;
  font-size: 0.9em;
}

@media (min-width: 1140px) {
  figcaption {
    /* margin: 2rem 2rem -2rem -2rem; */
    font-size: 1.1rem;
  }

  figcaption h3 {
    font-size: 2.25rem;
  }
}

[data-flipping] {
  opacity: 1;
  z-index: 3;
}

.gallery li::before {
  content: counter(list-item);
  block-size: 3rem;
  inline-size: 3rem;
  border-radius: 999px;
  display: grid;
  place-content: center;
  position: absolute;
  inset-block-start: -0.9rem;
  inset-inline-start: -0.9rem;
  z-index: 2;
  pointer-events: none;
  background: #72f1b8;
  color: #3a243f;
  font-weight: 900;
  box-shadow: 0 5px 2.5px hsl(200 95% 3% / 0.037),
    0 12px 6.5px hsl(200 95% 3% / 0.053), 0 22.5px 13px hsl(200 95% 3% / 0.065),
    0 40.2px 24px hsl(200 95% 3% / 0.077), 0 75.2px 44px hsl(200 95% 3% / 0.093),
    0 180px 80px hsl(200 95% 3% / 0.13);
}

.detail {
  z-index: 2;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(25, 25, 25, 0);
  box-shadow: 0 0 30px #000;
  /* display: flex; */
  display: grid;
  /* grid: auto / 1fr minmax(0, 800px) 1fr; */
  pointer-events: none;
  transition: background 0.3s linear;
}

.detail [class^="gallery-"] {
  /* padding: 5vmin; */
  padding: 0;
  inline-size: 100%;
  block-size: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  /* place-content: center; */
  grid-template-columns: 1fr;
  grid-template-rows: 50%;
}

@media (min-width: 1140px) {
  .detail [class^="gallery-"] {
    /* grid-template-columns: 1fr fit-content(500px); */
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100vh;
  }
}

.detail :is(img, video) {
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 100%;
  /* max-block-size: 70vh; */
  border-radius: 0;
  object-fit: contain;
  cursor: zoom-out;
}

.detail figcaption {
  display: flex;
  flex-flow: column;
  opacity: 1;
  animation: reveal 0.4s 0.15s cubic-bezier(0.84, 0, 0.2, 1) both;
}

@keyframes reveal {
  to {
    transform: none;
  }
}

[data-state="detail"] .detail {
  background: rgb(25 25 25 / 95%);
  pointer-events: auto;
}

[data-state="detail"] .detail :is(.gallery-image, .gallery-video) {
  opacity: 1;
}

[data-state="gallery"] .detail :is(.gallery-image, .gallery-video) {
  opacity: 0;
  transition: none;
}
